version: '3.8'

services:
  wordpress:
    image: wordpress:php8.3-apache
    container_name: wordpress
    restart: always
    ports:
      - "${WORDPRESS_PORT}:80"  # Port lokal:Port dalam container      
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_CHARSET: ${WORDPRESS_DB_CHARSET}
    volumes:
      # - wordpress_data:/var/www/html
      - ./html:/var/www/html  # Mount current directory (./html) to /var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.4
    container_name: wordpress_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:5.2.3-apache
    container_name: phpmyadmin
    restart: always
    ports:
      - "${PHPMYADMIN_PORT}:80"
    environment:
      PMA_HOST: ${PMA_HOST}
      PMA_PORT: ${PMA_PORT}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - db

volumes:
  wordpress_data:
  db_data:
